body {
  font-family: 'Your Font Family','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-family: Roboto, Helvetica, Arial, sans-serif;

}
.mh{
  min-height: 90vh;
}
/* FOTTER SECTION */

.fotter-title{
  color: #16b1b5;
}
#all-content{
    display: block;
}
.navbar-toggler{
   border-color: unset !important; 
   border: unset !important;
   
}
.navbar{
    height: 60px;
    background-color: #f1f1f1;
    top: 0;
    z-index: 99999999;
    
}
/* Profile Picture */
.profile-pic{
  display: inline-block;
  vertical-align: middle;
   width: 35px;
   height: 35px;
   overflow: hidden;
  border-radius: 50%;
}
.profile-pis{
  width: 35px;
  height: 35px;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}
.profile-pis img{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.profile-pic img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (min-width: 1930px) {
  .navbar{
    height:100px;
    background-color: #f1f1f1;
    top: 0;
    z-index: 99999999;
    
}

}
@media only screen and (min-width: 3850px) {
  .navbar{
    height:130px;
    background-color: #f1f1f1;
    top: 0;
    z-index: 99999999;
    
}

}
.navbar-toggler{
    display: none !important;
}
.man{
    display: flex;
    flex-direction: row;
    justify-content: end;
    
}

.man .nav-item{
    padding-left: 5px;
    padding-right: 15px;
}
.logo-img{
  width: 100%;
}

.offcanvas.offcanvas-end{
   width: 250px;
}

.offcanvas-backdrop.show{
display: non!important;
}
.man3 .navbar-nav .nav-item .nav-link{
  color:#ffffff;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Your Font Family','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}


.navbar-nav .nav-item .nav-link{
    color:#3d3c3c;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Your Font Family','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }
.navbar-nav .nav-item .nav-link:hover{
    color:#f9a566;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Your Font Family','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }
  @media only screen and (min-width: 810px) and (max-width: 1150px) {
    
    .navbar-nav .nav-item .nav-link{
      color:#3d3c3c;
      font-size: 13px;
      font-weight: 600;
      font-family: 'Your Font Family','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }
    .navbar-nav .nav-item .nav-link:hover{
      color:#f9a566;
      font-size: 13px;
      font-weight: 600;
      font-family: 'Your Font Family','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }
  }
 @media only screen and (max-width: 810px) {
    
  .navbar-nav .nav-item .nav-link{
    color:#3d3c3c;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Your Font Family','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }
  .navbar-nav .nav-item .nav-link:hover{
    color:#f9a566;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Your Font Family','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }
    .navbar-toggler:focus{
        border-color: unset !important; 
        border: unset !important;
        border-width: unset !important;
        outline: none;
        box-shadow: none;
     }
     .navbar-toggler{
        display: block !important;
    }
    .man2{
        display: none !important;
    }
    
  }
  

  
.container .pac-man span{
    color: #16b1b5;
  }
  .getstarted{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 888888;
  }
  .WE{
    color: #16b1b5;
  }
 
  .getstarted .video-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index:-1;
  }
  .getstarted .video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

  /* home section */
  .home-cover{
    
    background-color: #f1f1f1;
    display: flex;
    background-size: 100% 100%;
    background-position: center;
    align-items: center;
    border-top-color: #16b1b5;
    
    
  }

  .Recent {
    text-align: center ;
    background-color: #f1f1f1;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
  .Recent h2{
    font-family: 'Your Font Family','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 800;
    
  }
 
 .img-props{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
  .imge-praps{
    width: 80%;
    height: 80%;
    -o-border-radius:50% ;
    border-width:1px;
    border-style: solid;
    border-color: #f9a566;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    border-radius:50% ;
}
.success {
    text-align: center;
    background-color: #f1f1f1;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
  }
  
.success h2{
  font-family: 'Your Font Family','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-weight: 800;
  }
  .slick-arrow{
    background-color: #16b1b5;
    -o-border-radius:50px ;
    -webkit-border-radius:50px ;
    -moz-border-radius:50px ;
    -ms-border-radius:50px ;
    border-radius:50px ;
    display: none !important;
}

/* about section */
.about{
   
    display: flex;
    justify-content: center;
    
}
.about img{
    width: 100%;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
}
.taem-info{
  font-size: 50px;
  text-align: center;
  display: flex;
  align-items: end;
  justify-content: center;
}


/* services section */
.services{
  font-size: 50px;
  text-align: center;
  display: flex;
  align-items: end;
  justify-content: center;
  
}


/* our-works section */
.our-works{
  font-size: 50px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}
/* contact-info section */
.contact-info{
  font-size: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* site section */
.site{
  font-size: 50px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}
@media only screen and (min-width: 810px) {
  .imge-props{
    width: 97%;
    height: 100%;
    border-width:1px;
    border-style: solid;
    border-color: #16b1b5;
    
  }
  .logo-img{
    width: 70%;
  }
 
  
}
@media only screen and (max-width: 810px) {
  
  .logo-img{
    width: 110%;
  }
 
  
}
@media only screen and (max-width: 390px) {
  
  .logo-img{
    width: 200%;
  }
 
  
}
/* our team section */

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 30000000000;
  cursor: pointer;
  height: 50px;
  border-style: solid;
  border-color: #16b1b5;
  background-color: #16b1b5;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.back-to-top i:hover {
  color: black;
}

.back-to-top i {
  color: #ffffff;
}



/*loading*/


#loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(248, 247, 246);
  z-index:1000000;
}

#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #999;
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}

#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #F00;
}

#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid #0F0;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid #00F;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

#loading-content {
  border: 3px solid transparent;
  border-top-color: #4D658D;
  border-bottom-color: #4D658D;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

#loading-content:before {
  border: 3px solid transparent;
  border-top-color: #D4CC6A;
  border-bottom-color: #D4CC6A;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
}

#loading-content:after {
  border: 3px solid transparent;
  border-top-color: #84417C;
  border-bottom-color: #84417C;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#content-wrapper {
  color: #FFF;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
}

#header
{
  width: 800px;
  margin: 0 auto;
  text-align: center;
  height: 100px;
  background-color: #666;
}

#content
{
  width: 800px;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
  background-color: #888;
}
.btn.active{
  background-color: #000000d8 !important;
  color: aliceblue !important;
  border-radius: 7px 7px 0px 0px !important;
  -webkit-border-radius: 7px 7px 0px 0px !important;
  -moz-border-radius: 7px 7px 0px 0px !important;
  -ms-border-radius: 7px 7px 0px 0px !important;
  -o-border-radius: 7px 7px 0px 0px !important;
}



